﻿
@{
    ViewBag.Title = "ContractManager";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model IEnumerable<ec_th2012_c.Models.CONTRACT_BUYSIDE>
@using ec_th2012_c.Models
<div class="btn-addcontract">
    <div class="form-actions">
        <button type="submit" class="btn btn-primary" onclick="window.location.href='@Url.Action("Create","B2BBuySide")'">Add Contract</button>
    </div>
</div>
<div class="row-fluid sortable">  
    <div class="box span12">       
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white user"></i><span class="break"></span>Danh sách hợp đồng mua hàng</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            
            <table class="table table-striped table-bordered bootstrap-datatable datatable">
                <thead>
                    <tr>
                        <th class="center_custom">Tên sản phẩm</th>
                        <th class="center_custom">Hình ảnh</th>
                        <th class="center_custom">Thời hạn hợp đồng</th>
                        <th class="center_custom">Đối tác</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        List<CONTRACT_BUYSIDE> listContract = (List<CONTRACT_BUYSIDE>)Model;
                        List<String> listResult = (List<String>)ViewData["listResult"];
                        for (int i = 0; i < listContract.Count;i++)
                        {
                        <tr>
                            <td>@Html.DisplayFor(model => listContract[i].PRODUCTS.NAME)</td>
                            <td class="center_custom">
                                <img src="@listContract[i].PRODUCTS.IMG" class="imgcus" />
                            </td>
                            <td class="center_custom">@Html.DisplayFor(model => listContract[i].COOPTIME)</td>
                            <td class="center_custom">@listResult[i]</td>
                            <td class="center_custom">
                                @{
                            if (listContract[i].STATE != null && listContract[i].STATE.Equals("đang hợp tác"))
                            {
                                <a class="btn btn-warning" href="@Url.Action("DetailForSignedContract", "B2BBuySide", new { id = listContract[i].ID })">
                                    <i class="halflings-icon white zoom-in"></i>
                                </a>
    <a class="btn btn-info" href="@Url.Action("listBillBuySide", "B2BBuySide", new { id = listContract[i].ID })">
        <i class=" halflings-icon list white"></i>
    </a>
                                    <a class="btn btn-danger" href="@Url.Action("Delete", "B2BBuySide", new { id = listContract[i].ID })">
                                        <i class="halflings-icon white trash"></i>
                                    </a>
                            }
                            else if (listContract[i].LISTPARTNERCONTRACT.Count > 0)
                            {
                                <a class="btn btn-warning" href="@Url.Action("DetailForAdmin", "B2BBuySide", new { id = listContract[i].ID })">
                                    <i class="halflings-icon white zoom-in"></i>
                                </a>
                                    <a class="btn btn-danger" href="@Url.Action("Delete", "B2BBuySide", new { id = listContract[i].ID })">
                                        <i class="halflings-icon white trash"></i>
                                    </a>
                            }
                            else
                            {
                                <a class="btn btn-warning" href="@Url.Action("DetailForAdmin", "B2BBuySide", new { id = listContract[i].ID })">
                                    <i class="halflings-icon white zoom-in"></i>
                                </a>
                                    <a class="btn btn-success" href="@Url.Action("Edit", "B2BBuySide", new { id = listContract[i].ID })">
                                        <i class="halflings-icon white edit"></i>
                                    </a>
                                    <a class="btn btn-danger" href="@Url.Action("Delete", "B2BBuySide", new { id = listContract[i].ID })">
                                        <i class="halflings-icon white trash"></i>
                                    </a>
                            }
                                }
                            </td>

                        </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div><!--/span-->
    
</div>


