﻿@model IEnumerable<ec_th2012_c.Models.CONTRACT_BUYSIDE>
@{
    ViewBag.Title = "ContractResultForPartner";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using ec_th2012_c.Models
<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white user"></i><span class="break"></span>THÔNG TIN KÝ KẾT HỢP ĐỒNG</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable datatable">
                <thead>
                    <tr>
                        <th class="center_custom">Tên sản phẩm</th>
                        <th class="center_custom">Hình ảnh</th>
                        <th class="center_custom">Thời hạn hợp đồng</th>
                        <th class="center_custom">Tình trạng</th>
                        <th class="center_custom"></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        List<String> listResult = (List<String>)ViewData["listResults"];
                        List<CONTRACT_BUYSIDE> listContractPartner = (List<CONTRACT_BUYSIDE>)Model;
                        for (int i=0; i<listContractPartner.Count; i++)
                        {
                        <tr>
                            <td>@Html.DisplayFor(model => listContractPartner[i].PRODUCTS.NAME)</td>
                            <td class="center_custom">
                                <img src="@listContractPartner[i].PRODUCTS.IMG" class="imgcus" />
                            </td>
                            <td class="center_custom">@Html.DisplayFor(model => listContractPartner[i].COOPTIME)</td>
                            <td class="center_custom">@listResult[i]</td>
                            <td class="center_custom">
                                @{
                            if (listResult[i].Equals("Ký kết thất bại")
                                || listResult[i].Equals("Đang chờ duyệt"))
                            {
                                <a class="btn btn-warning" href="@Url.Action("Details", "B2BBuySide", new { id = listContractPartner[i].ID })">
                                    <i class="halflings-icon white zoom-in"></i>
                                </a>
                                    <a class="btn btn-danger" href="@Url.Action("DeleteContractByPartner", "B2BBuySide", new { id = listContractPartner[i].ID })">
                                        <i class="halflings-icon white trash"></i>
                                    </a>
                            }
                            else
                            {
                                <a class="btn btn-warning" href="@Url.Action("Details", "B2BBuySide", new { id = listContractPartner[i].ID })">
                                    <i class="halflings-icon white zoom-in"></i>
                                </a>
                            }
                                }
                            </td>

                        </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div><!--/span-->
</div>

