﻿@model ec_th2012_c.Models.CONTRACT_BUYSIDE

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white edit"></i><span class="break"></span>Tạo hợp đồng</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
        </div>
        <div class="box-content">
                <fieldset>
         @using (Html.BeginForm("CreateContract","B2BBuySide",FormMethod.Post))
        {
             @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true)

                <div class="form-group">
                    <label class="label-primary">Chọn sản phẩm</label>
                    <div class="col-md-10">
                        @Html.DropDownList("PRODUCTID", String.Empty)
                        @Html.ValidationMessageFor(model => model.PRODUCTID)
                    </div>
                </div>

            <div class="form-group">
                <label class="label-primary">Ngưỡng tồn kho tối thiểu</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MININVENTORY)
                    @Html.ValidationMessageFor(model => model.MININVENTORY)
                </div>
            </div>

            <div class="form-group">
                <label class="label-primary">Số lượng cung cấp tối thiểu</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MINPROVIDE)
                    @Html.ValidationMessageFor(model => model.MINPROVIDE)
                </div>
            </div>

            <div class="form-group">
                <label class="label-primary">Thời gian giao hàng</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DELAYTIME)
                    @Html.ValidationMessageFor(model => model.DELAYTIME)
                </div>
            </div>

            <div class="form-group">
                <label class="label-primary">Thời gian hợp tác</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.COOPTIME)
                    @Html.ValidationMessageFor(model => model.COOPTIME)
                </div>
            </div>

            <div class="form-group">
                <label class="label-primary">Thời gian chuyển tiền</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BILLTIME)
                    @Html.ValidationMessageFor(model => model.BILLTIME)
                </div>
            </div>

            <div class="form-group">
                <label class="label-primary">Giá hợp đồng</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PRICE)
                    @Html.ValidationMessageFor(model => model.PRICE)
                </div>
            </div>

            <div class="form-group">
                <label class="label-primary">Ngày bắt đầu</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.STARTDAY)
                    @Html.ValidationMessageFor(model => model.STARTDAY)
                </div>
            </div>
                
         <div class="form-group">
                <label class="label-primary">Ngày kết thúc</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.ENDDAY)
                    @Html.ValidationMessageFor(model => model.ENDDAY)
                </div>
            </div>

            <div class="form-group">
                <div class="form-actions">
                    <input type="submit" name="submit" value="Tạo hợp đồng" class="btn btn-primary"/>
                </div>
            </div>
        </div>
    }
                </fieldset>

        </div>
    </div><!--/span-->

</div><!--/row-->
<div class="form-actions">
    <button type="reset" class="btn" onclick="window.location.href='@Url.Action("ContractManager","B2BBuySide")'">Back</button>
</div>


