﻿@model ec_th2012_c.Models.CONTRACT_BUYSIDE

@{
    ViewBag.Title = "DetailForAdmin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using ec_th2012_c.Models;
<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white edit"></i><span class="break"></span>Thông tin hợp đồng</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            <form class="form-horizontal">
                <fieldset>
                    <div class="control-group control-imagedetail">
                        <br />
                        <label class="control-label-custom" for="focusedInput" style="text-align:center">
                            <img src="@Html.DisplayFor(model => model.PRODUCTS.IMG)" class="imdetail" />
                        </label>
                    </div>
                    <div class="control-group control-detail">
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">Tên sản phẩm: </label>
                            <label class="control-label-custom" for="focusedInput">@Html.DisplayFor(model => model.PRODUCTS.NAME)</label>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">Số lượng tồn kho tối thiểu: </label>
                            <label class="control-label-custom" for="focusedInput">@Html.DisplayFor(model => model.MININVENTORY)</label>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">Số lượng cung cấp tối thiểu: </label>
                            <label class="control-label-custom" for="focusedInput">@Html.DisplayFor(model => model.MINPROVIDE)</label>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">Thời gian giao hàng: </label>
                            <label class="control-label-custom" for="focusedInput">@Html.DisplayFor(model => model.DELAYTIME)</label>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">Thời gian hợp tác: </label>
                            <label class="control-label-custom" for="focusedInput">@Html.DisplayFor(model => model.COOPTIME)</label>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">Thời gian chuyển tiền: </label>
                            <label class="control-label-custom" for="focusedInput">@Html.DisplayFor(model => model.BILLTIME)</label>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">Ngày bắt đầu: </label>
                            <label class="control-label-custom" for="focusedInput">@Html.DisplayFor(model => model.STARTDAY)</label>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">Ngày kết thúc: </label>
                            <label class="control-label-custom" for="focusedInput">@Html.DisplayFor(model => model.ENDDAY)</label>
                        </div>
                    </div>


                </fieldset>

            </form>

        </div>
    </div><!--/span-->

</div><!--/row-->
<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white user"></i><span class="break"></span>Quản lý đối tác đăng ký</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable datatable">
                <thead>
                    <tr>
                        <th>Tên đối tác đăng ký</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        List<LISTPARTNERCONTRACT> contract_partner = (List<LISTPARTNERCONTRACT>)ViewData["contract_partner"];
                        foreach (var item in contract_partner)
                    {
                        <tr>
                            <td><a href="#">@Html.DisplayFor(model => item.PARTNER_INFO_BUYSIDE.NAME)</a></td>
                            <td>
                                <a class="btn btn-success" href="@Url.Action("SignContract", "B2BBuySide", new {id = item.ID})">
                                    <i class="halflings-icon white ok"></i>
                                </a>
                            </td>
                        </tr>
                    }
                    }

                </tbody>
            </table>
        </div>
    </div><!--/span-->
</div>
<div class="form-actions">
    <button type="submit" class="btn btn-primary" onclick="window.location.href='@Url.Action("ContractManager", "B2BBuySide")'">Back</button>
</div>