﻿@model IEnumerable<ec_th2012_c.Models.CONTRACT_BUYSIDE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row-fluid sortable">
<div class="box span12">
    <div class="box-header" data-original-title>
        <h2><i class="halflings-icon white user"></i><span class="break"></span>Members</h2>
        <div class="box-icon">
            <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
            <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
            <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
        </div>
    </div>
    <div class="box-content">
        @{
            string temp = (string)ViewData["isChoosingSuccess"];
            if (temp != "")
            {
                <p class="choosingsuccess_text">@temp</p>
                ViewData["isChoosingSuccess"] = "";
            }
        }
        <table class="table table-striped table-bordered bootstrap-datatable datatable">
            <thead>
                <tr>
                    <th class="center_custom">Tên sản phẩm</th>
                    <th class="center_custom">Hình ảnh</th>
                    <th class="center_custom">Thời hạn hợp đồng</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                { 
                <tr>
                    <td>@Html.DisplayFor(model => item.PRODUCTS.NAME)</td>
                    <td class="center_custom">
                        <img src="@item.PRODUCTS.IMG" class="imgcus" />
                    </td>
                    <td class="center_custom">@Html.DisplayFor(model => item.COOPTIME)</td>
                    <td class="center_custom">
                        <a class="btn btn-warning" href="@Url.Action("Details", "B2BBuySide", new { id = item.ID })">
                            <i class="halflings-icon white zoom-in"></i>
                        </a>
                        @if (User.IsInRole("Partner") == true)
                        {
                            <a class="btn btn-success" href="@Url.Action("ChosenByPartner", "B2BBuySide", new { id = item.ID})">
                                <i class="halflings-icon ok white"></i>
                            </a>
                        }
                    </td>
                </tr>
                }
               
            </tbody>
        </table>
    </div>
</div><!--/span-->
			</div>


