﻿@model ec_th2012_c.Models.PARTNER_INFO_BUYSIDE

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white edit"></i><span class="break"></span>Thông tin đối tác</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            <form class="form-horizontal">
                <fieldset>
                    <div class="control-group">
                        <p class="control-label" for="focusedInput">Tên đối tác: </p>
                        <p class="control-label-custom" for="focusedInput">@Html.DisplayFor(model => model.NAME)</p>
                    </div>
                    <div class="control-group">
                        <p class="control-label" for="focusedInput">Mô tả: </p>
                        <p class="control-label-custom" for="focusedInput">@Html.DisplayFor(model => model.DESCRIPTION)</p>
                    </div>
                    <div class="control-group">
                        <p class="control-label" for="focusedInput">Địa chỉ: </p>
                        <p class="control-label-custom" for="focusedInput">@Html.DisplayFor(model => model.AspNetUsers.ADDRESS)</p>
                    </div>
                    <div class="control-group">
                        <p class="control-label" for="focusedInput">Email: </p>
                        <p class="control-label-custom" for="focusedInput">@Html.DisplayFor(model => model.AspNetUsers.EMAIL)</p>
                    </div>
                    <div class="control-group">
                        <p class="control-label" for="focusedInput">Số điện thoại: </p>
                        <p class="control-label-custom" for="focusedInput">@Html.DisplayFor(model => model.AspNetUsers.PHONE)</p>
                    </div>
                    <div class="control-group">
                        <p class="control-label" for="focusedInput">Comsumer Key: </p>
                        <p class="control-label-custom" for="focusedInput">@Html.DisplayFor(model => model.CONSUMER_KEY)</p>
                    </div>
                    <div class="control-group">
                        <p class="control-label" for="focusedInput">Trạng thái: </p>
                        <p class="control-label-custom" for="focusedInput">@Html.DisplayFor(model => model.AspNetUsers.ACTIVE)</p>
                    </div>
                   
                   
                </fieldset>
            </form>

        </div>
    </div><!--/span-->

</div><!--/row-->



<div class="form-actions">
    <button type="submit" class="btn btn-primary" onclick="window.location.href='@Url.Action("Edit", "ManagePartnerBuySide", new { id = Model.ID })'">Edit</button>
    <button class="btn" onclick="window.location.href='@Url.Action("returnURL", "AdminHome", new { returnURL = ViewBag.ReturnUrl })'">Back</button>
</div>
