﻿@model ec_th2012_c.Models.PARTNER_INFO_BUYSIDE
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header" data-original-title>
                <h2><i class="halflings-icon white edit"></i><span class="break"></span>Chỉnh sửa thông tin đối tác mua hàng</h2>
                <div class="box-icon">
                    <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                    <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                    <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
                </div>
            </div>
            <div class="box-content">

                @Html.AntiForgeryToken()
                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    <fieldset>


                        <div class="control-group success">
                            <label class="control-label" style="color:black !important" for="focusedInput">Tên đối tác</label>
                            <div class="controls">
                                @Html.EditorFor(model => model.NAME, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NAME, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="control-group success">
                            <label class="control-label" style="color:black !important" for="focusedInput">Mô tả</label>
                            <div class="controls">
                                @Html.EditorFor(model => model.DESCRIPTION, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DESCRIPTION, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="control-group success">
                            <label class="control-label" style="color:black !important" for="focusedInput">Địa chỉ</label>
                            <div class="controls">
                                @Html.EditorFor(model => model.AspNetUsers.ADDRESS, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AspNetUsers.ADDRESS, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="control-group success">
                            <label class="control-label" style="color:black !important" for="focusedInput">Email</label>
                            <div class="controls">
                                @Html.EditorFor(model => model.AspNetUsers.EMAIL, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AspNetUsers.EMAIL, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="control-group success">
                            <label class="control-label" style="color:black !important" for="focusedInput">Số điện thoại</label>
                            <div class="controls">
                                @Html.EditorFor(model => model.AspNetUsers.PHONE, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AspNetUsers.PHONE, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="control-group success">
                            <label class="control-label" style="color:black !important" for="focusedInput">Consumer Key</label>
                            <div class="controls">
                                @Html.EditorFor(model => model.CONSUMER_KEY, new { htmlAttributes = new { @class = "form-control", @ReadOnly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.CONSUMER_KEY, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="control-group success">
                            <label class="control-label" style="color:black !important" for="focusedInput">Trạng thái</label>
                            <div class="controls">
                                @Html.DropDownListFor(m => m.AspNetUsers.ACTIVE, Model.getActive(), null, new { @class = "form-control" })
                                
                                @Html.ValidationMessageFor(model => model.AspNetUsers.ACTIVE, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        



                    </fieldset>


                </div>

            </div>
        </div><!--/span-->

    </div><!--/row-->





    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save Change</button>
        <button class="btn" onclick="window.location.href='@Url.Action("returnURL", "AdminHome", new { returnURL = ViewBag.ReturnUrl })'">Cancel</button>
    </div>
}





