﻿@model IEnumerable<ec_th2012_c.Models.PARTNER_INFO_BUYSIDE>

@{
    ViewBag.Title = "Quản lý đối tác bán hàng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="header_create">
    <a class="btn btn-success" href="@Url.Action("Create", "ManagePartnerBuySide")">
        <i class="halflings-icon edit white"></i>
    </a>

</div>

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white user"></i><span class="break"></span>Danh sách đối tác bán hàng</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable datatable">
                <thead>
                    <tr>
                        <th class="center_custom">Tên đối tác</th>
                        
                        <th class="center_custom">Email</th>
                        <th class="center_custom">Consumer_key</th>
                        <th class="center_custom">Tình trạng</th>
                        <th class="center_custom">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr>
                            <td>@Html.DisplayFor(m => item.NAME)</td>
                            <td class="center_custom">@Html.DisplayFor(m => item.AspNetUsers.EMAIL)</td>
                            <td class="center_custom">@Html.DisplayFor(m => item.CONSUMER_KEY)</td>
                            @{
                        if (item.AspNetUsers.ACTIVE == "Active")
                        {
                            <td class="center_custom">
                                <a class="label label-success" href="@Url.Action("Active", "ManagePartnerBuySide", new { id = item.ID })">
                                    Avtive
                                </a>
                            </td>

                        }
                        else
                        {
                            <td class="center_custom">
                                <a class="label label-warning" href="@Url.Action("Active", "ManagePartnerBuySide", new { id = item.ID })">
                                    Deactivate
                                </a>
                            </td>
                        }
}
                           

                            <td class="center_custom">

                                <a class="btn btn-success" href="@Url.Action("Details", "ManagePartnerBuySide", new { id = item.ID })">
                                    <i class="halflings-icon white zoom-in"></i>
                                </a>
                                <a class="btn btn-info" href="@Url.Action("Contracts", "ManagePartnerBuySide", new { id = item.ID })">
                                    <i class=" halflings-icon list white"></i>
                                </a>
                                <a class="btn btn-danger" href="@Url.Action("Delete", "ManagePartnerBuySide", new { id = item.ID })" onclick="return confirm('Do you want delete this partner?')">
                                    <i class="halflings-icon white trash"></i>
                                </a>
                            </td>
                        </tr>



                    }


                </tbody>
            </table>
        </div>
    </div><!--/span-->
</div>
