﻿@model ec_th2012_c.Models.PARTNER_INFO_BUYSIDE
@{
    ViewBag.Title = "changeConsumerKey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white edit"></i><span class="break"></span>Thay đổi consumer key</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
        </div>
        <div class="box-content">


            <div class="form-horizontal">
                <fieldset>



                    <div class="control-group success">
                        <label class="control-label" style="color:black !important" for="focusedInput">Consumer Key</label>
                        <div class="controls">
                            <input type="text" id="consumerkey" value="@Model.CONSUMER_KEY" readonly>
                            <button type="button" class="btn btn-primary" onclick="myFuntion()" style="margin-left:10px !important">Generate new key</button>
                        </div>

                    </div>





                </fieldset>


            </div>

        </div>
    </div><!--/span-->

</div><!--/row-->





<div class="form-actions">
    <button type="submit" class="btn btn-primary" onclick="save()">Save and Send</button>

</div>



<div class="modal fade" id="myModalLoading" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>


            <div class="modal-body" style="text-align:center; font-weight:bold; font-size: 16px;">

                <p class="text-error" id="resultText"></p>
                <img id="loadimg" src="~/Content/loading/loader.gif" style="width:150px; height:170px;" />
            </div>

        </div>

    </div>


</div>

<script>
    function myFuntion() {
        var guild = S4() + S4() + S4() + S4() + S4() + S4() + S4() + S4();
        document.getElementById("consumerkey").value = guild;
    }

    function S4() {

        return (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);

    }

    function save() {
        document.getElementById("resultText").innerHTML = "";
        $("#myModalLoading").modal();
        document.getElementById("loadimg").style.visibility = "visible";
        var guid = document.getElementById("consumerkey").value;
        $.ajax({
            url: '@Url.Action("generateKey", "Account")',
            type: 'GET',
            dataType: 'json',
            // we set cache: false because GET requests are often cached by browsers
            // IE is particularly aggressive in that respect
            cache: false,
            data: { guid: guid },
            success: function (data) {
               
                document.getElementById("resultText").innerHTML = data;
                document.getElementById("loadimg").style.visibility = "hidden";
            }
        });
    }

</script>