﻿@model ec_th2012_c.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutLo_Re.cshtml";
}


<div class="row-fluid">
    <div class="login-box">
        <div class="icons">
           
        </div>
        <h2>Login to your account</h2>
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new {role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="input-prepend" title="Username">
                <span class="add-on"><i class="halflings-icon user"></i></span>

                @Html.TextBoxFor(m => m.UserName, new { @id = "username", @class = "input-large span10", @placeholder = "type username" })
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <div class="clearfix"></div>
            <div class="input-prepend" title="Password">
                <span class="add-on"><i class="halflings-icon lock"></i></span>

                @Html.PasswordFor(m => m.Password, new { @id = "password", @class = "input-large span10", @placeholder = "type password" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="clearfix"></div>

            <label class="remember" for="remember">
                @Html.CheckBoxFor(m => m.RememberMe, new { @id = "remember" })
                Remember me
            </label>

            <div class="button-login">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
            <div class="clearfix"></div>
        }

        <hr>
        <h3>Forgot Password?</h3>
        <p>
            No problem, <a href="@Url.Action("recoveryPassword", "Account")">click here</a> to get a new password.
        </p>
        <h3>@Html.ActionLink("Register", "Register")</h3>

    </div><!--/span-->
</div><!--/row-->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}