﻿@using ec_th2012_c.Models;
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Change password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <div>
        @if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial")
        }
        else
        {
            @Html.Partial("_SetPasswordPartial")
        }

       
    </div>
</div>

