﻿
@{
    ViewBag.Title = "RecoveryPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white edit"></i><span class="break"></span>Quên mật khẩu</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
        </div>
        <div class="box-content">


            <div class="form-horizontal">
                <fieldset>


                    <p class="text-error" id="result"></p>
                    <div class="control-group success">
                        <label class="control-label" style="color:black !important" for="focusedInput">Username</label>
                        <div class="controls">
                            <input type="text" id="username" value="" placeholder="Nhập tên đăng nhập của bạn">
                            
                        </div>

                    </div>





                </fieldset>


            </div>

        </div>
    </div><!--/span-->

</div><!--/row-->

<div class="form-actions">
    <button type="submit" class="btn btn-primary" onclick="submit()">Submit</button>

</div>



<div class="modal fade" id="myModalLoading" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>


            <div class="modal-body" style="text-align:center; font-weight:bold; font-size: 16px;">

                <p class="text-error" id="resultText"></p>
                <img id="loadimg" src="~/Content/loading/loader.gif" style="width:150px; height:170px;" />
            </div>

        </div>

    </div>


</div>

<script>
    function submit() {
        document.getElementById("resultText").innerHTML = "";
        
        document.getElementById("loadimg").style.visibility = "visible";
        var username = document.getElementById("username").value;
        $.ajax({
            url: '@Url.Action("recoveryPassword", "Account")',
            type: 'POST',
            dataType: 'json',
            // we set cache: false because GET requests are often cached by browsers
            // IE is particularly aggressive in that respect
            cache: false,
            data: { username: username },
            success: function (data) {
                if (data == "Tên tài khoản không tồn tại") {
                    document.getElementById("result").innerHTML = data;
                }
                else {
                    $("#myModalLoading").modal();
                    document.getElementById("result").innerHTML = "";
                    document.getElementById("resultText").innerHTML = data;
                    document.getElementById("loadimg").style.visibility = "hidden";
                }
                
            }
        });
    }
</script>