﻿@model ec_th2012_c.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutLo_Re.cshtml";
}

<div class="row-fluid">
    <div class="login-box">
        <div class="icons">

        </div>
        <h2>Register new account</h2>
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="input-prepend" title="Username">
                <span class="add-on"><i class="halflings-icon user"></i></span>

                @Html.TextBoxFor(m => m.UserName, new { @id = "username", @class = "input-large span10", @placeholder = "type username" })

            </div>


            <div class="input-prepend" title="Password">
                <span class="add-on"><i class="halflings-icon lock"></i></span>

                @Html.PasswordFor(m => m.Password, new { @id = "password", @class = "input-large span10", @placeholder = "type password" })

            </div>

            <div class="input-prepend" title="Confirmpassword">
                <span class="add-on"><i class="halflings-icon lock"></i></span>

                @Html.PasswordFor(m => m.ConfirmPassword, new { @id = "confirmpassword", @class = "input-large span10", @placeholder = "type password agian" })

            </div>


            <div class="input-prepend" title="Fullname">
                <span class="add-on"><i class="halflings-icon user"></i></span>

                @Html.TextBoxFor(m => m.fullname, new { @id = "fullname", @class = "input-large span10", @placeholder = "type fullname" })

            </div>
            <div class="input-prepend" title="Email">
                <span class="add-on"><i class="halflings-icon envelope"></i></span>

                @Html.TextBoxFor(m => m.email, new { @id = "email", @class = "input-large span10", @placeholder = "type email" })

            </div>

            <div class="input-prepend" title="Address">
                <span class="add-on"><i class="halflings-icon home"></i></span>

                @Html.TextBoxFor(m => m.address, new { @id = "address", @class = "input-large span10", @placeholder = "type address" })

            </div>
            <div class="input-prepend" title="Phone">
                <span class="add-on"><i class="halflings-icon home"></i></span>

                @Html.TextBoxFor(m => m.phone, new { @id = "phone", @class = "input-large span10", @placeholder = "type phonenumber" })

            </div>
            <div class="input-prepend" title="Desciption">
                <span class="add-on"><i class="halflings-icon home"></i></span>

                @Html.TextArea("desciption", null, new { @id = "desciption", @class = "input-large span10 disableHorizontal", @placeholder = "type description about yours" })

            </div>

            <div class="button-login">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>

        }

    </div><!--/span-->
</div><!--/row-->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
