﻿@model ec_th2012_c.Models.CONTRACT_SELLSIDE

@{
    ViewBag.Title = "Chi tiết hợp đồng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white edit"></i><span class="break"></span>Thông tin hợp đồng</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            <form class="form-horizontal">
                <fieldset>
                    <div class="control-group">
                        <p class="control-label" for="focusedInput">Tên đối tác: </p>
                        <p class="control-label-custom" for="focusedInput"><a class="link_custom" href="@Url.Action("Details", "ManagePartner", new { @id = Model.PARTNERID})">@Html.DisplayFor(model => model.PARTNER_INFO_SELLSIDE.NAME_PARTNER)</a></p>
                    </div>
                    <div class="control-group">
                        <p class="control-label" for="focusedInput">Tên sản phẩm: </p>
                        <p class="control-label-custom" for="focusedInput"><a class="link_custom" href="@Url.Action("Details", "ManagePartner", new { @id = Model.PRODUCTS.NAME })">@Html.DisplayFor(model => model.PRODUCTS.NAME)</a></p>
                    </div>
                    <div class="control-group">
                        <p class="control-label" for="focusedInput">Số lượng tồn kho tối thiểu: </p>
                        <p class="control-label-custom" for="focusedInput">@Html.DisplayFor(model => model.MININVENTORY)</p>
                    </div>
                    <div class="control-group">
                        <p class="control-label" for="focusedInput">Số lượng cung cấp tối thiểu: </p>
                        <p class="control-label-custom" for="focusedInput">@Html.DisplayFor(model => model.MINPROVIDE)</p>
                    </div>
                    <div class="control-group">
                        <p class="control-label" for="focusedInput">Thời gian giao hàng: </p>
                        <p class="control-label-custom" for="focusedInput">@Html.DisplayFor(model => model.DELAYTIME)</p>
                    </div>
                    <div class="control-group">
                        <p class="control-label" for="focusedInput">Thời gian hợp tác: </p>
                        <p class="control-label-custom" for="focusedInput">@Html.DisplayFor(model => model.COOPTIME)</p>
                    </div>
                    <div class="control-group">
                        <p class="control-label" for="focusedInput">Thời gian chuyển tiền: </p>
                        <p class="control-label-custom" for="focusedInput">@Html.DisplayFor(model => model.BILLTIME)</p>
                    </div>
                    <div class="control-group">
                        <p class="control-label" for="focusedInput">Ngày bắt đầu: </p>
                        <p class="control-label-custom" for="focusedInput">@Html.DisplayFor(model => model.STARTDAY)</p>
                    </div>
                    <div class="control-group">
                        <p class="control-label" for="focusedInput">Ngày kết thúc: </p>
                        <p class="control-label-custom" for="focusedInput">@Html.DisplayFor(model => model.ENDDAY)</p>
                    </div>
                    <div class="control-group">
                        <p class="control-label" for="focusedInput">Trạng thái hợp đồng: </p>
                        <p class="control-label-custom" for="focusedInput">@Html.DisplayFor(model => model.ACTIVE)</p>
                    </div>
                </fieldset>
            </form>

        </div>
    </div><!--/span-->

</div><!--/row-->

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white edit"></i><span class="break"></span>Thông tin của đối tác</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            <form class="form-horizontal">
                <fieldset>
                    <div class="control-group">
                        <p class="control-label" for="focusedInput">Mã hợp đồng : </p>
                        <p class="control-label-custom" for="focusedInput">@Html.DisplayFor(model => model.ORDER_ID_PARTNER)</p>
                    </div>
                    <div class="control-group">
                        <p class="control-label" for="focusedInput">Mã sản phẩm: </p>
                        <p class="control-label-custom" for="focusedInput">@Html.DisplayFor(model => model.PRODUC_ID_PARTNER)</p>
                    </div>
                    <div class="control-group">
                        <p class="control-label" for="focusedInput">Tên sản phẩm: </p>
                        <p class="control-label-custom" for="focusedInput">@Html.DisplayFor(model => model.PRODUCT_NAME_PARTNER)</p>
                    </div>
                    <div class="control-group">
                        <p class="control-label" for="focusedInput">Số lượng tồn kho: </p>
                        <p class="control-label-custom" for="focusedInput">@Html.DisplayFor(model => model.PRODUCT_QUANTITY_PARTNER)</p>
                    </div>
                    <div class="control-group">
                        <p class="control-label" for="focusedInput">Trạng thái: </p>
                        <p class="control-label-custom" for="focusedInput">@Html.DisplayFor(model => model.STATE)</p>
                    </div>
                </fieldset>
            </form>

        </div>
    </div><!--/span-->

</div><!--/row-->

<div class="form-actions">
    <button type="submit" class="btn btn-primary" onclick="window.location.href='@Url.Action("Edit", "B2BSellSide", new { id = Model.ID })'">Edit</button>
    <button class="btn" onclick="window.location.href='@Url.Action("returnURL", "AdminHome", new { returnURL = ViewBag.ReturnUrl })'">Back</button>
</div>

