﻿@model ec_th2012_c.Models.CONTRACT_SELLSIDE

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using (Html.BeginForm())
{
    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header" data-original-title>
                <h2><i class="halflings-icon white edit"></i><span class="break"></span>Chỉnh sửa hợp đồng</h2>
                <div class="box-icon">
                    <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                    <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                    <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
                </div>
            </div>
            <div class="box-content">

                @Html.AntiForgeryToken()
                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    <fieldset>




                        <div class="control-group">
                            <label class="control-label" for="selectError">Tên đối tác</label>
                            <div class="controls">
                                @Html.DropDownList("PARTNERID", null, new { @data_rel = "chosen" })
                                @Html.ValidationMessageFor(model => model.PARTNERID, "", new { @class = "text-danger" })
                            </div>


                        </div>

                        <div class="control-group">
                            <label class="control-label" for="selectError">Tên sản phẩm</label>
                            <div class="controls">
                                @Html.DropDownList("PRODUCTID", null, new { @data_rel = "chosen" })
                                @Html.ValidationMessageFor(model => model.PRODUCTID, "", new { @class = "text-danger" })
                            </div>


                        </div>

                        <div class="control-group success">
                            <label class="control-label" style="color:black !important" for="focusedInput">Số lượng tồn kho tối thiểu</label>
                            <div class="controls">
                                @Html.EditorFor(model => model.MININVENTORY, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MININVENTORY, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="control-group success">
                            <label class="control-label" style="color:black !important" for="focusedInput">Số lượng cung cấp tối thiểu</label>
                            <div class="controls">
                                @Html.EditorFor(model => model.MINPROVIDE, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MINPROVIDE, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="control-group success">
                            <label class="control-label" style="color:black !important" for="focusedInput">Thời gian giao hàng</label>
                            <div class="controls">
                                @Html.EditorFor(model => model.DELAYTIME, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DELAYTIME, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="control-group success">
                            <label class="control-label" style="color:black !important" for="focusedInput">Thời gian hợp tác</label>
                            <div class="controls">
                                @Html.EditorFor(model => model.COOPTIME, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.COOPTIME, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="control-group success">
                            <label class="control-label" style="color:black !important" for="focusedInput">Thời gian chuyển tiền</label>
                            <div class="controls">
                                @Html.EditorFor(model => model.BILLTIME, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.BILLTIME, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="control-group success">
                            <label class="control-label" style="color:black !important" for="focusedInput">Ngày bắt đầu</label>
                            <div class="controls">
                                @Html.EditorFor(model => model.STARTDAY, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.STARTDAY, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="control-group success">
                            <label class="control-label" style="color:black !important" for="focusedInput">Ngày kết thúc</label>
                            <div class="controls">
                                @Html.EditorFor(model => model.ENDDAY, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ENDDAY, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="control-group success">
                            <label class="control-label" style="color:black !important" for="focusedInput">Trạng thái hợp đồng</label>
                            <div class="controls">
                                @Html.EditorFor(model => model.ACTIVE, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ACTIVE, "", new { @class = "text-danger" })
                            </div>
                        </div>




                        
                    </fieldset>


                </div>

            </div>
        </div><!--/span-->

    </div><!--/row-->


    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header" data-original-title>
                <h2><i class="halflings-icon white edit"></i><span class="break"></span>Chỉnh sửa thông tin khách hàng</h2>
                <div class="box-icon">
                    <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                    <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                    <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
                </div>
            </div>
            <div class="box-content">


                <div class="form-horizontal">


                    <fieldset>





                        <div class="control-group success">
                            <label class="control-label" style="color:black !important" for="focusedInput">Mã hợp đồng</label>
                            <div class="controls">
                                @Html.EditorFor(model => model.ORDER_ID_PARTNER, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ORDER_ID_PARTNER, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="control-group success">
                            <label class="control-label" style="color:black !important" for="focusedInput">Mã sản phẩm</label>
                            <div class="controls">
                                @Html.EditorFor(model => model.PRODUC_ID_PARTNER, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PRODUC_ID_PARTNER, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="control-group success">
                            <label class="control-label" style="color:black !important" for="focusedInput">Tên sản phẩm</label>
                            <div class="controls">
                                @Html.EditorFor(model => model.PRODUCT_NAME_PARTNER, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PRODUCT_NAME_PARTNER, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="control-group success">
                            <label class="control-label" style="color:black !important" for="focusedInput">Số lượng tồn kho</label>
                            <div class="controls">
                                @Html.EditorFor(model => model.PRODUCT_QUANTITY_PARTNER, new { htmlAttributes = new {@readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.PRODUCT_QUANTITY_PARTNER, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="control-group success">
                            <label class="control-label" style="color:black !important" for="focusedInput">Trạng thái</label>
                            <div class="controls">
                                @Html.EditorFor(model => model.STATE, new { htmlAttributes = new {@readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.STATE, "", new { @class = "text-danger" })
                            </div>
                        </div>
                       



                        
                    </fieldset>


                </div>

            </div>
        </div><!--/span-->

    </div><!--/row-->
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save Change</button>
        <button class="btn" onclick="window.location.href='@Url.Action("returnURL", "AdminHome", new { returnURL = ViewBag.ReturnUrl })'">Cancel</button>
    </div>
}



