﻿@model IEnumerable<ec_th2012_c.Models.BILL2B_SELLSIDE>
@{
    ViewBag.Title = "getAllListBill";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white user"></i><span class="break"></span>Danh sách đơn giao hàng</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable datatable">
                <thead>
                    <tr>
                        <th class="center_custom">Tên đối tác</th>
                        <th class="center_custom">Tên sản phẩm</th>
                        <th class="center_custom">Ngày gửi</th>
                        <th class="center_custom">Ngày đến</th>
                        <th class="center_custom">Số lượng</th>
                        <th class="center_custom">Trạng thái</th>

                        <th class="center_custom">Xác nhận</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in Model)
                        {

                            <tr>
                                <td class="center_custom"><a class="link_custom"  href="@Url.Action("Details", "ManagePartnerSellSide", new { @id = item.CONTRACT_SELLSIDE.PARTNERID})">@item.CONTRACT_SELLSIDE.PARTNER_INFO_SELLSIDE.NAME_PARTNER</a></td>
                                <td class="center_custom"><a class="link_custom" href="@Url.Action("DetailProduct", "Product", new { @id = item.CONTRACT_SELLSIDE.PRODUCTID })">@item.CONTRACT_SELLSIDE.PRODUCTS.NAME</a></td>
                                <td class="center_custom">@item.DATECREATE</td>
                                <td class="center_custom">@item.DATERECEIVED</td>
                                <td class="center_custom">@item.QUANLITY</td>

                                @if (item.STATE == "đang giao hàng")
                                {
                                    <td class="center_custom"><span class="label label-warning">@item.STATE</span></td>
                                    <td class="center_custom">

                                        <a class="btn btn-success" href="@Url.Action("shippingOkAllList", "B2BSellSide", new { idBill = item.ID })">
                                            <i class="halflings-icon ok white"></i>
                                        </a>

                                    </td>
                                }
                                else
                                {
                                    <td class="center_custom"><span class="label label-success">@item.STATE</span></td>
                                    <td></td>
                                }





                            </tr>
                        }
                    }







                </tbody>
            </table>
        </div>
    </div><!--/span-->
</div>



