﻿@model IEnumerable<ec_th2012_c.Models.CONTRACT_SELLSIDE>

@{
    ViewBag.Title = "Hợp đồng bán hàng";

    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script>
    function date() { $('#date01').datepicker({ dateFormat: 'dd-mm-yy' }) }
</script>

<div class="header_create">
    <a class="btn btn-success" href="@Url.Action("Create", "B2BSellSide")">
        <i class="halflings-icon edit white"></i>
    </a>

</div>

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white user"></i><span class="break"></span>Hợp đồng bán hàng</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable datatable">
                <thead>
                    <tr>
                        <th class="center_custom">Tên đối tác</th>
                        <th class="center_custom">Tên sản phẩm</th>
                        <th class="center_custom">Tồn kho</th>
                        <th class="center_custom">Tồn kho (đối tác)</th>
                        <th class="center_custom">Trạng thái</th>
                        <th class="center_custom">T/G Cập nhật</th>
                        <th class="center_custom">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr>
                            <td><a class="link_custom" id ="@item.PARTNERID" href="@Url.Action("Details", "ManagePartnerSellSide", new { @id = item.PARTNERID})">@item.PARTNER_INFO_SELLSIDE.NAME_PARTNER</a></td>
                            <td><a class="link_custom" href="@Url.Action("DetailProduct", "Product", new { @id = item.PRODUCTID })">@item.PRODUCTS.NAME</a></td>
                            <td class="center_custom">@Html.DisplayFor(m => item.PRODUCTS.QUANTITY)</td>
                            <td class="center_custom">@Html.DisplayFor(m => item.PRODUCT_QUANTITY_PARTNER)</td>
                            @{
                        if (item.STATE == "còn hàng")
                        {
                            <td class="center_custom"><span class="label label-success">@Html.DisplayFor(m => item.STATE)</span></td>
                        }
                        else
                        {
                            <td class="center_custom">
                                <span class="label label-important">@Html.DisplayFor(m => item.STATE)</span>
                            </td>
                        }
                            }
                            <td class="center_custom">
                                @Html.DisplayFor(m => item.TIMEUPDATE)
                            </td>


                            <td class="center_custom">
                                <a class="btn btn-warning" data-toggle="modal" data-target="#myModal" onclick="myFunction('@item.ID','@item.PRODUCTS.NAME','@item.PRODUCTS.QUANTITY','@item.PRODUCT_QUANTITY_PARTNER','@item.MINPROVIDE')">
                                    <i class="halflings-icon plane white"></i>
                                </a>
                                <a class="btn btn-success" href="@Url.Action("Details", "B2BSellSide", new { id = item.ID})">
                                    <i class="halflings-icon white zoom-in"></i>
                                </a>
                                <a class="btn btn-info" href="@Url.Action("listBillSellSide", "B2BSellSide", new { id = item.ID})">
                                    <i class=" halflings-icon list white"></i>
                                </a>
                                <a class="btn btn-danger" href="@Url.Action("Delete", "B2BSellSide", new { id = item.ID})" onclick="return confirm('Do you want delete this contract?')">
                                    <i class="halflings-icon white trash"></i>
                                </a>
                            </td>
                        </tr>



                    }


                </tbody>
            </table>
        </div>
    </div><!--/span-->
</div>


@*<div class="row-fluid sortable">
        <div class="span12 boxcustom">
            <div class="box-header box-headercustom " data-original-title>
                <h2><i class="halflings-icon white user"></i><span class="break"></span>Hợp đồng hết thời hạn</h2>
                <div class="box-icon">
                    <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                    <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                    <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                <table class="table table-striped table-bordered bootstrap-datatable datatable">
                    <thead>
                        <tr>
                            <th>Tên đối tác</th>
                            <th>Tên sản phẩm</th>
                            <th>Tồn kho</th>
                            <th>Tồn kho (đối tác)</th>
                            <th>Trạng thái</th>
                            <th>T/G Cập nhật</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.ENDDAY < DateTime.Now)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(m => item.PARTNER_INFO_SELLSIDE.NAME_PARTNER)</td>
                                    <td class="center">@Html.DisplayFor(m => item.PRODUCTS.NAME)</td>
                                    <td class="center">@Html.DisplayFor(m => item.PRODUCTS.QUANTITY)</td>
                                    <td class="center">@Html.DisplayFor(m => item.PRODUCT_QUANTITY_PARTNER)</td>
                                    @{
                                if (item.STATE == "còn hàng")
                                {
                                    <td class="center"><span class="label label-success">@Html.DisplayFor(m => item.STATE)</span></td>
                                }
                                else
                                {
                                    <td class="center"><span class="label label-important">@Html.DisplayFor(m => item.STATE)</span></td>
                                }
                                    }
                                    <td class="center">@Html.DisplayFor(m => item.TIMEUPDATE)</td>


                                    <td>
                                        <a class="btn btn-warning" data-toggle="modal" data-target="#myModal" onclick="myFunction('@item.ID','@item.PRODUCTS.NAME','@item.PRODUCTS.QUANTITY','@item.PRODUCT_QUANTITY_PARTNER','@item.MINPROVIDE')">
                                            <i class="halflings-icon plane white"></i>
                                        </a>
                                        <a class="btn btn-success" href="@Url.Action("Details", "B2BSellSide", new { id = item.ID})">
                                            <i class="halflings-icon white zoom-in"></i>
                                        </a>
                                        <a class="btn btn-info" href="@Url.Action("listBillSellSide", "B2BSellSide", new { id = item.ID })">
                                            <i class=" halflings-icon list white"></i>
                                        </a>
                                        <a class="btn btn-danger" href="#">
                                            <i class="halflings-icon white trash"></i>
                                        </a>
                                    </td>
                                </tr>

                            }

                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>*@

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Gửi hàng</h4>
            </div>
            <div class="modal-body">
                <div class="control-group">

                    <p hidden id="contractid"></p>
                    <label class="control-label">Tên sản phẩm</label>
                    <div class="controls">
                        <span id="productname" class="input-xlarge uneditable-input"></span>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Số lượng tồn kho</label>
                        <div class="controls">
                            <span id="outinventory" class="input-xlarge uneditable-input"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Số lượng tồn kho (đối tác)</label>
                        <div class="controls">
                            <span id="partnerinventory" class="input-xlarge uneditable-input"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Số lượng cung cấp tối thiểu</label>
                        <div class="controls">
                            <span id="minprovide" class="input-xlarge uneditable-input"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="date01">Date input</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge datepicker" id="date01" value="1/1/2015">
                        </div>
                    </div>
                    <div class="control-group success">
                        <label class="control-label" for="inputSuccess">Nhập số lượng</label>
                        <div class="controls">
                            <input type="number" id="inputSuccess">
                        </div>
                    </div>
                    <p class="text-error" id="alerttext"></p>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" id="btnStartShipping" class="btn btn-success" onclick="checkInput()">Start shipping</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>



<div class="modal fade" id="myModalLoading" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>

            
            <div class="modal-body" style="text-align:center; font-weight:bold; font-size: 16px;">

                <p class="text-error" id="resultText"></p>
                <img id="loadimg" src="~/Content/loading/loader.gif" style="width:150px; height:170px;" />
            </div>
            
        </div>

    </div>


</div>


<script>
    function myFunction(id, productname, outinventory, partnerinventory, minprovide) {

        document.getElementById("alerttext").innerHTML = "";
        document.getElementById("inputSuccess").value = 0;

        document.getElementById("contractid").innerHTML = id;
        document.getElementById("productname").innerHTML = productname;
        document.getElementById("outinventory").innerHTML = outinventory;
        document.getElementById("partnerinventory").innerHTML = partnerinventory;
        document.getElementById("minprovide").innerHTML = minprovide;

    }

    function checkInput() {
        var id = document.getElementById("contractid").innerHTML;
        var quantity = parseInt(document.getElementById("inputSuccess").value);

        var minprovide = parseInt(document.getElementById("minprovide").innerHTML);

        var repository = parseInt(document.getElementById("outinventory").innerHTML);

        document.getElementById("loadimg").style.visibility = "visible";
        document.getElementById("resultText").innerHTML = "";
        
        if (quantity > repository) {
            document.getElementById("alerttext").innerHTML = "Số lượng cung cấp vượt số lượng tồn kho";

        }
        else if (quantity < minprovide) {
            document.getElementById("alerttext").innerHTML = "Số lượng cung cấp chưa đủ";
        }
        else {
            $('#myModal').modal('hide');
            $("#myModalLoading").modal();
           
            var date = $('#date01').datepicker({ dateFormat: 'dd-mm-yy' }).val();
            $.ajax({
                url: '@Url.Action("startShipping", "B2BSellSide")',
                type: 'GET',
                dataType: 'json',
                // we set cache: false because GET requests are often cached by browsers
                // IE is particularly aggressive in that respect
                cache: false,
                data: { id: id, quantity: quantity, date: date },
                success: function (data) {
                    document.getElementById("loadimg").style.visibility = "hidden";
                    document.getElementById("resultText").innerHTML = data;
                }
            });
        }


    }
</script>