﻿@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>


    <link id="bootstrap-style" href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link id="base-style" href="~/Content/css/style.css" rel="stylesheet">
    <link id="base-style-responsive" href="~/Content/css/style-responsive.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>

</head>
<body>
    <!-- start: Header -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="@Url.Action("Index","B2BBuySide")"><span>B2B</span></a>

                <!-- start: Header Menu -->
                <div class="nav-no-collapse header-nav">
                    <ul class="nav pull-right">
                       
                        <!-- start: User Dropdown -->
                        @Html.Partial("_LoginPartial")
                        <!-- end: User Dropdown -->
                    </ul>
                </div>
                <!-- end: Header Menu -->

            </div>
        </div>
    </div>
    <!-- start: Header -->

    <div class="container-fluid-full">
        <div class="row-fluid">

            <!-- start: Main Menu -->
            <div id="sidebar-left" class="span2">
                <div class="nav-collapse sidebar-nav">
                    <ul class="nav nav-tabs nav-stacked main-menu">
                        

                        <li><a href="@Url.Action("Index", "B2BBuySide")"><i class="icon-align-justify"></i><span class="hidden-tablet">Danh sách hợp đồng</span></a></li>
                       @{ if (User.IsInRole("Partner"))
                        {

                        <li><a href="@Url.Action("changeConsumerKey", "Account")"><i class="halflings-icon refresh white"></i><span class="hidden-tablet"> Change consumerkey</span></a></li>
    <li><a href="@Url.Action("ContractResultForPartner", "B2BBuySide")"><i class="halflings-icon list-alt white"></i><span class="hidden-tablet"> Result Contracts</span></a></li>

                        }
                          else if (User.IsInRole("Admin"))
                          {
                            <li><a href="@Url.Action("Index", "AdminHome")"><i class="halflings-icon tasks white"></i><span class="hidden-tablet"> Manage Site</span></a></li>
                          }
}
                    </ul>
                </div>
            </div>
            <!-- end: Main Menu -->

            <noscript>
                <div class="alert alert-block span10">
                    <h4 class="alert-heading">Warning!</h4>
                    <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
                </div>
            </noscript>

            <!-- start: Content -->
            <div id="content" class="span10">


                @*<ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="@Url.Action("Index", "AdminHome")">Trang chủ</a>
                        <i class="icon-angle-right"></i>
                    </li>
                    <li><a href="@Url.Action(ViewBag.viewname, ViewBag.controllername)">@ViewBag.Title</a></li>
                </ul>*@
                <div class="row-fluid">
                    @RenderBody()
                </div>
                <!--/row-->


            </div><!--/.fluid-container-->
            <!-- end: Content -->
        </div><!--/#content.span10-->
    </div><!--/fluid-row-->

    <div class="modal hide fade" id="myModal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Settings</h3>
        </div>
        <div class="modal-body">
            <p>Here settings can be configured...</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <a href="#" class="btn btn-primary">Save changes</a>
        </div>
    </div>

    <div class="common-modal modal fade" id="common-Modal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <ul class="list-inline item-details">
                <li><a href="http://themifycloud.com">Admin templates</a></li>
                <li><a href="http://themescloud.org">Bootstrap themes</a></li>
            </ul>
        </div>
    </div>

    <div class="clearfix"></div>

    <footer>
        <p>
            <span style="text-align:left;float:left">&copy; 2015 <a href="#" alt="Bootstrap_Metro_Dashboard">ecth2012c</a></span>

        </p>
    </footer>

    <!-- start: JavaScript-->
    <script src="~/Content/js/jquery-1.9.1.min.js"></script>
    <script src="~/Content/js/jquery-migrate-1.0.0.min.js"></script>

    <script src="~/Content/js/jquery-ui-1.10.0.custom.min.js"></script>

    <script src="~/Content/js/jquery.ui.touch-punch.js"></script>

    <script src="~/Content/js/modernizr.js"></script>

    <script src="~/Content/js/bootstrap.min.js"></script>

    <script src="~/Content/js/jquery.cookie.js"></script>

    <script src='~/Content/js/fullcalendar.min.js'></script>

    <script src='~/Content/js/jquery.dataTables.min.js'></script>
    <script src="~/Content/js/excanvas.js"></script>
    <script src="~/Content/js/jquery.flot.js"></script>
    <script src="~/Content/js/jquery.flot.pie.js"></script>
    <script src="~/Content/js/jquery.flot.stack.js"></script>
    <script src="~/Content/js/jquery.flot.resize.min.js"></script>

    <script src="~/Content/js/jquery.chosen.min.js"></script>

    <script src="~/Content/js/jquery.uniform.min.js"></script>

    <script src="~/Content/js/jquery.cleditor.min.js"></script>

    <script src="~/Content/js/jquery.noty.js"></script>

    <script src="~/Content/js/jquery.elfinder.min.js"></script>

    <script src="~/Content/js/jquery.raty.min.js"></script>

    <script src="~/Content/js/jquery.iphone.toggle.js"></script>

    <script src="~/Content/js/jquery.uploadify-3.1.min.js"></script>

    <script src="~/Content/js/jquery.gritter.min.js"></script>

    <script src="~/Content/js/jquery.imagesloaded.js"></script>

    <script src="~/Content/js/jquery.masonry.min.js"></script>

    <script src="~/Content/js/jquery.knob.modified.js"></script>

    <script src="~/Content/js/jquery.sparkline.min.js"></script>

    <script src="~/Content/js/counter.js"></script>

    <script src="~/Content/js/retina.js"></script>
    <script src="~/Content/js/custom.js"></script>
    <!-- end: JavaScript-->

    @RenderSection("scripts", required: false)
</body>







    @*<body>
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                </footer>
            </div>

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
        </body>*@
</html>
<noembed>
