﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
   
       
       @* <ul class="nav">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage", @style = "color: white ! important" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit() " style="color: white ! important">Log off</a></li>
        </ul>
           *@


        <li class="dropdown">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="halflings-icon white user"></i> Hello @User.Identity.GetUserName()
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li class="dropdown-menu-title">
                    <span>Account Settings</span>
                </li>
                @{
        if (User.IsInRole("Partner"))
        {
            <li><a href="@Url.Action("changeProfile", "Account")"><i class="halflings-icon user"></i>Change Profile</a></li>
    <li><a href="@Url.Action("Manage","Account")"><i class="halflings-icon random"></i> Change password</a></li>
    <li><a href="@Url.Action("changeConsumerKey", "Account")"><i class="halflings-icon refresh"></i> Change consumerkey</a></li>
    <li><a href="@Url.Action("ContractResultForPartner", "B2BBuySide")"><i class="halflings-icon list-alt"></i> Result Contracts</a></li>
        }
}
                
                <li><a href="@Url.Action("LogOff", "Account")"><i class="halflings-icon off"></i> Logout</a></li>
            </ul>
        </li>
    
}
else
{
    <ul class="nav">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @style = "color: white ! important" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @style = "color: white ! important" })</li>
    </ul>
}

