﻿@model ec_th2012_c.Models.PARTNER_INFO_SELLSIDE

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white edit"></i><span class="break"></span>Thông tin đối tác</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            <form class="form-horizontal">
                <fieldset>
                    <div class="control-group">
                        <p class="control-label" for="focusedInput">Tên đối tác: </p>
                        <p class="control-label-custom" for="focusedInput">@Html.DisplayFor(model => model.NAME_PARTNER)</p>
                    </div>
                    <div class="control-group">
                        <p class="control-label" for="focusedInput">Mô tả: </p>
                        <p class="control-label-custom" for="focusedInput">@Html.DisplayFor(model => model.DESCRIPTION)</p>
                    </div>
                    <div class="control-group">
                        <p class="control-label" for="focusedInput">Website: </p>
                        <p class="control-label-custom" for="focusedInput"><a href="@Html.DisplayFor(model => model.WEBSITE)" class="link_custom" target="_blank">@Html.DisplayFor(model => model.WEBSITE)</a></p>
                    </div>
                    <div class="control-group">
                        <p class="control-label" for="focusedInput">Username: </p>
                        <p class="control-label-custom" for="focusedInput">@Html.DisplayFor(model => model.USERNAME)</p>
                    </div>
                    <div class="control-group">
                        <p class="control-label" for="focusedInput">Password: </p>
                        <p class="control-label-custom" for="focusedInput">@Html.DisplayFor(model => model.PASSWORD)</p>
                    </div>
                    <div class="control-group">
                        <p class="control-label" for="focusedInput">Link request token: </p>
                        <p class="control-label-custom" for="focusedInput">@Html.DisplayFor(model => model.LINK_REQUESTTOEKN)</p>
                    </div>
                    <div class="control-group">
                        <p class="control-label" for="focusedInput">Link authenticate: </p>
                        <p class="control-label-custom" for="focusedInput">@Html.DisplayFor(model => model.LINK_AUTHENTICATE)</p>
                    </div>
                    <div class="control-group">
                        <p class="control-label" for="focusedInput">Link accesstoken: </p>
                        <p class="control-label-custom" for="focusedInput">@Html.DisplayFor(model => model.LINK_ACCESSTOKEN)</p>
                    </div>
                    <div class="control-group">
                        <p class="control-label" for="focusedInput">Link orders: </p>
                        <p class="control-label-custom" for="focusedInput">@Html.DisplayFor(model => model.LINK_ORDERS)</p>
                    </div>
                    <div class="control-group">
                        <p class="control-label" for="focusedInput">Link Shipping: </p>
                        <p class="control-label-custom" for="focusedInput">@Html.DisplayFor(model => model.LINK_SHIPPING)</p>
                    </div>
                    <div class="control-group">
                        <p class="control-label" for="focusedInput">Comsumer Key: </p>
                        <p class="control-label-custom" for="focusedInput">@Html.DisplayFor(model => model.CONSUMER_KEY)</p>
                    </div>
                </fieldset>
            </form>

        </div>
    </div><!--/span-->

</div><!--/row-->



<div class="form-actions">
    <button type="submit" class="btn btn-primary" onclick="window.location.href='@Url.Action("Edit", "ManagePartnerSellSide", new { id = Model.ID })'">Edit</button>
    <button class="btn" onclick="window.location.href='@Url.Action("returnURL", "AdminHome", new { returnURL = ViewBag.ReturnUrl })'">Back</button>
</div>
