﻿@model ec_th2012_c.Models.PRODUCTS
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white edit"></i><span class="break"></span>Thông tin sản phẩm</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            <form class="form-horizontal">
                <fieldset>
                    <div class="control-group">
                        <p class="control-label" for="focusedInput">Tên sản phẩm: </p>
                        <p class="control-label-custom" for="focusedInput">@Html.DisplayFor(model => model.NAME)</p>
                    </div>
                    <div class="control-group">
                        <p class="control-label" for="focusedInput">Giá: </p>
                        <p class="control-label-custom" for="focusedInput">@Html.DisplayFor(model => model.PRICE)</p>
                    </div>
                    <div class="control-group">
                        <p class="control-label" for="focusedInput">Tồn kho: </p>
                        <p class="control-label-custom" for="focusedInput">@Html.DisplayFor(model => model.QUANTITY)</p>
                    </div>
                    <div class="control-group">
                        <p class="control-label" for="focusedInput">Mô tả chung: </p>
                        <p class="control-label-custom" for="focusedInput">@Html.DisplayFor(model => model.DESCRIPTION)</p>
                    </div>
                    <div class="control-group">
                        <p class="control-label" for="focusedInput">Hinh ảnh: </p>
                        <img src="@Model.IMG" class="imgcus" />
                    </div>
                    <div class="control-group">
                        <p class="control-label" for="focusedInput">Số lượng view: </p>
                        <p class="control-label-custom" for="focusedInput">@Html.DisplayFor(model => model.VIEWNUMBER)</p>
                    </div>
                    <div class="control-group">
                        <p class="control-label" for="focusedInput">Ngày cập nhật: </p>
                        <p class="control-label-custom" for="focusedInput">@Html.DisplayFor(model => model.TIMEUPDATE)</p>
                    </div>
                    
                </fieldset>
            </form>

        </div>
    </div><!--/span-->

</div><!--/row-->



<div class="form-actions">
    
    <button class="btn" onclick="window.location.href='@Url.Action("returnURL", "AdminHome", new { returnURL = ViewBag.ReturnUrl })'">Back</button>
</div>

